<div class = "container">
	<h3> Users </h3>
	<table class = 'table'>
		<tr>
			<th></th>
			<th>Status</th>
			<th>Name</th>
			<th>Email</th>
			<th></th>
			<th></th>
			<th</th>
		
		</tr>

		<% _.each(users, function(user) { %>
		<tr data-id="<%= user.id %>" data-model="user">
			<% if(user.online) { %>
				<td><img src="/images/online.png"></td>
				<td> <font color = "green"> ON </font> </td>
			<% } else { %>
				<td><img src="/images/offline.png"></td>
				<td> <font color = "red"> OFF </font> </td>
			<% } %>
			<td> <%= user.name %> </td>
			<td> <%= user.email %> </td>
			<td> <a href="/user/show/<%= user.id %>" class = "btn btn-sm btn-primary"> Show </a></td>
			<td> <a href="/user/edit/<%= user.id %>" class = "btn btn-sm btn-warning"> Edit </a></td>
			<td> <a href="/user/destroy/<%= user.id %>" class = "btn btn-sm btn-danger"> Delete </a></td>

		</tr>
		<% }) %>
	</table>


</div>


